.toolsContainer {
  position: absolute;
  right: 0;
  top: calc(50% - 110px);
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  width: fit-content;
  height: fit-content;
}

.toolsPanel {
  box-shadow: var(--shadow-popup);
  border-radius: 6px;
  background-color: var(--color-surface-panel);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  flex-direction: column;
}

.toolsPanelSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  flex-direction: column;
  gap: 6px;
}

.separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  align-self: stretch;
}
