.icon {
  width: 20px;
  height: 20px;
}

.icon.cursor {
  background-color: #212121;
  -webkit-mask: url(../assets/icons/cursor.svg);
  mask: url(../assets/icons/cursor.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon.ellipse {
  background-color: #212121;
  -webkit-mask: url(../assets/icons/ellipse.svg);
  mask: url(../assets/icons/ellipse.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
}

.icon.pencil {
  background-size: 20px 20px;
  background-color: #212121;
  -webkit-mask: url(../assets/icons/pencil.svg);
  mask: url(../assets/icons/pencil.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon.rectangle {
  background-size: 20px 20px;
  background-color: #212121;
  -webkit-mask: url(../assets/icons/rectangle.svg);
  mask: url(../assets/icons/rectangle.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon.undo {
  background-size: 20px 20px;
  background-color: #212121;
  -webkit-mask: url(../assets/icons/undo.svg);
  mask: url(../assets/icons/undo.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.icon.redo {
  background-size: 20px 20px;
  background-color: #212121;
  -webkit-mask: url(../assets/icons/redo.svg);
  mask: url(../assets/icons/redo.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
